.product-item {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;

  & img {
    border-radius: 1rem;
  }

  & .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & header {
    display: flex;
    justify-content: space-between;
  }

  & .description {
    color: #5c7a89;
  }

  & .image-container {
    position: relative;
    width: 100%;
    height: 200px;
  }

  @media (width > 768px) {
    min-width: 700px;
    max-width: 700px;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 1rem;

    & .image-container {
      position: relative;
      min-width: 200px;
      width: 200px;
      height: 200px;
    }
  }
}
