.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 106px;
  padding: 0 2rem;

  color: #13c1ac;
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #d1dbe0;
}
