.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  color: var(--primary-500);
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #d1dbe0;

  & div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
  }

  & h1 {
    font-size: 1.5rem;
  }

  @media (width > 768px) {
    height: 6rem;

    & h1 {
      font-size: 2rem;
    }
  }
}
